<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
<body>
    <div id="app">

        <div  class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body table-inline">
                
                <label for="input" class="col-sm-2 control-label">Id</label>
                <div class="col-xs-2">
                    <input type="text" name="" id="input" class="form-control" value="" required="required" title="" v-model="vId">
                </div>
                <label for="input" class="col-sm-2 control-label">Name</label>
                <div class="col-xs-2">
                    <input type="text" name="" id="input" class="form-control" value="" required="required" title="" v-model="vName">
                </div>
                
                <button type="button" class="btn btn-primary" @click="add">（首选项）Primary</button>
                <div class="col-xs-2">
                    <input type="text" name="" id="input" class="form-control" value="" required="required" title="" v-model="searchKey">
                </div>
            </div>
        </div>
        
        
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CtrayeTime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in search(searchKey)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.createTime | dateFormat}}</td>
                    <td><button type="button" class="btn btn-primary" @click="del(item.id)">刪除</button></td>
                </tr>
            </tbody>
        </table>
    </div>
        
    </body>
    <script src="./lib/vue.js"></script>
<script>
    let vm =new Vue({
        el: "#app",
        data() {
            return {
                vName:"",
                vId:"",
                searchKey:"",
               list:[
                   {id:"1",name:"test1",createTime:new Date()},
                   {id:"2",name:"test2",createTime:new Date()}
               ] 
            }
        },
        methods: {
            add(){
                this.list.push({id:this.vId,name:this.vName,createTime:new Date()});
            },
            del(id){

                /*this.list.some((item,index) => {
                    if(item.id === id){
                        this.list.splice(index,1);
                        return true;
                    }
                });*/

                let index=this.list.findIndex((item) => {
                    if(item.id === id){
                        return true;
                    }
                });
                console.log(index);
                this.list.splice(index,1);

            },
            search(key){
                /*let newList=[];
                this.list.forEach(item => {
                    if(item.name.indexOf(key) != -1){
                        newList.push(item);
                    }
                });
                return newList;*/

                return this.list.filter(item => {
                // if(item.name.indexOf(keywords) != -1)

                // 注意 ： ES6中，為字符串提供了一個新方法，叫做 String.prototype.includes('要包含的字符串')
                // 如果包含，則返回 true ，否則返回 false
                // contain
                if (item.name.includes(key)) {
                return item
                }
          })
            }
        },
        filters:{
            dateFormat:(date,pattern="") =>{
                // 定義私有過濾器 過濾器有兩個 條件 【過濾器名稱 和 處理函數】
                // 過濾器調用的時候，採用的是就近原則，如果私有過濾器和全局過濾器名稱一致了，這時候 優先調用私有過濾器
                // 根据给定的时间字符串，得到特定的时间
                var dt = new Date(date)

                //   yyyy-mm-dd
                var y = dt.getFullYear()
                var m = (dt.getMonth() + 1).toString().padStart(2, '0')
                var d = dt.getDate().toString().padStart(2, '0')

                if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                    return `${y}-${m}-${d}`
                } else {
                    var hh = dt.getHours().toString().padStart(2, '0')
                    var mm = dt.getMinutes().toString().padStart(2, '0')
                    var ss = dt.getSeconds().toString().padStart(2, '0')

                    return `${y}-${m}-${d} ${hh}:${mm}:${ss} ~~~~~~~`
                }
            }
        }
    })
</script>
</html>